extends layout

block content
  table.table.table-striped.table-bordered
    caption
      h4 My Submissions
    th 
    th Problem
    th Language
    th Status
    th Result
    th Compile Output
    - for (var i = 0; i < subs.length; i++)
          - if (subs[i].judge_status == config.judge_statuses.COMPUTER_GRADED) {
          -   color_class = 'success';
          - }
          - else if (subs[i].judge_status == config.judge_statuses.MANUALLY_GRADED) {
          -   color_class = 'success';
          - }
          - else if (subs[i].judge_status == config.judge_statuses.QUEUED) {
          -   color_class = 'warning';
          - }
          - else {
          -   color_class = 'error';
          - }
          tr(class = color_class)
              td #{i+1}
              td #{subs[i].problem_code}
              td #{subs[i].language}
              td #{subs[i].judge_status}
              - if (subs[i].grading_type == config.MANUAL_GRADING)
                  td #{subs[i].judge_result_manual}
              - if (subs[i].grading_type == config.AUTO_GRADING)
                  td #{subs[i].judge_result_auto}
              td #{subs[i].compile_error}

  hr

  ul 
    h4 Notes
    li Result for a Manually Graded problem denotes the marks given to you for the problem. It may change if the evaluator decides to change your score.
    li Result for an Auto Graded problem is a boolean array giving the results of your program for each input file it ran on. You may calculate your score for the problem using this array, the weights of the input files (given in the problem statement) and the total points for the problem (also mentioned in the problem statement)
    li Only your last submission is considered while calculating your score for an Auto Graded Problem.
